version: '3.9'

services:
  app:
    build:
      context: .
      target: prod
    environment:
      DB_HOST: db
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      PORT: ${PORT}
      SEPOLIA_RPC_URL: ${SEPOLIA_RPC_URL}
      NODE_ENV: production
    ports:
      - '3000:3000'
    command: sh ./entrypoint.sh
    depends_on:
      - db
    networks:
      - app-network
